<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Listado de Reservas</h3>

            </div>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table id="tablaReservas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>CodigoReserva</th>
                        <th>FechaReserva</th>
                        <th>IdCliente</th>
                        <th>IdVendedor</th>
                        <th>Costo</th>
                        <th>PrecioVenta</th>
                        <th>IdVehiculoCiudad</th>
                        <th>IdCiudad</th>
                        <th>idPais</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Reservas != null)
                    {
                        foreach (var reserva in ViewBag.Reservas)
                        {
                            <tr>
                                <td>@reserva.CodigoReserva</td>
                                <td>@reserva.FechaReserva</td>
                                <td>@reserva.IdCliente</td>
                                <td>@reserva.IdVendedor</td>
                                <td>@reserva.Costo</td>
                                <td>@reserva.PrecioVenta</td>
                                <td>@reserva.IdVehiculoCiudad</td>
                                <td>@reserva.IdCiudad</td>
                                <td>@reserva.idPais</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!---Creacion de una Reserva. No se si va aca o en otra Vista-->
<div>
    <h2>Realizar Reserva</h2>
    <form id="realizarReserva">
        <div>
            <label>Apellido y Nombre</label>
            <input type="text" name="ApellidoNombre" form="realizarReserva"/>

            <label>DNI</label>
            <input type="text" name="NroDocumento" form="realizarReserva"/>

            <label>Fecha Retiro</label>
            <input type="date" name="FechaRetiro" form="realizarReserva"/>

            <label>Fecha Devolucion</label>
            <input type="date" name="FechaDevolucion" form="realizarReserva"/>

            <label>ID Vehiculo</label>
            <input type="text" name="IDVehiculo" form="realizarReserva"/>

            <label>Lugar Retiro</label>
            <input type="text" name="LugarRetiro" form="realizarReserva"/>

            <label>Lugar Devolucion</label>
            <input type="text" name="LugarDevolucion" form="realizarReserva"/>

            <!--FALTA AGREGAR LA LOGICA PARA QUE FUNCIONE EL BOTON RESERVAR-->

            <button>Reservar</button>
        </div>
    </form>

</div>