<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Listado de Reservas</h3>

            </div>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table id="tablaReservas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>CodigoReserva</th>
                        <th>FechaReserva</th>
                        <th>IdCliente</th>
                        <th>IdVendedor</th>
                        <th>Costo</th>
                        <th>PrecioVenta</th>
                        <th>IdVehiculoCiudad</th>
                        <th>IdCiudad</th>
                        <th>idPais</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Reservas != null)
                    {
                        foreach (var reserva in ViewBag.Reservas)
                        {
                            <tr>
                                <td>@reserva.CodigoReserva</td>
                                <td>@reserva.FechaReserva</td>
                                <td>@reserva.IdCliente</td>
                                <td>@reserva.IdVendedor</td>
                                <td>@reserva.Costo</td>
                                <td>@reserva.PrecioVenta</td>
                                <td>@reserva.IdVehiculoCiudad</td>
                                <td>@reserva.IdCiudad</td>
                                <td>@reserva.idPais</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div>
            <h2>Cancelar Reserva</h2>
            <form id="cancelarReserva" method="post">
                <p>Codigo de reserva:</p>
                <input type="text" name="cancelarReserva" runat="server"/>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>